{% extends 'actor/base.html' %}

{% block content %}
<form name="test" method="post">
    {% csrf_token %}
    <p><b>Ваше имя:</b><br>
     <input type="text" name='name' size="40">
    </p>
    <p><b>Каким браузером в основном пользуетесь:</b><Br>
     <input type="checkbox" name="browser" value="ie"> Internet Explorer<Br>
     <input type="checkbox" name="browser" value="opera"> Opera<Br>
     <input type="checkbox" name="browser" value="firefox"> Firefox<Br>
    </p>
    <p>Комментарий<Br>
     <textarea name="comment" cols="40" rows="3"></textarea></p>
    <p><input type="submit" value="Отправить">
     <input type="reset" value="Очистить"></p>
   </form>
  
{% endblock %}